/*
 * ADMIN PANEL: HEADER
 * ADMIN PANEL: HEADER screen max-width: 980px
 * ADMIN PANEL: MAIN PAGE (select panel)
 * ADMIN PANEL: HELP PAGE
 * ADMIN PANEL: ARCHIVE & PUBLICATIONS PANEL (publications list)
 */
a {
	color: rgba(76, 158, 217, 0.83);
}
/*ADMIN PANEL: HEADER*/
/******************************************************/
ul.navLogoSerwis {
	list-style-type: none;
}

li.navInBloc {
	display: inline-block;
}
/*ADMIN PANEL: HEADER screen max-width: 980px */
/***************************************************/
@media screen and (max-width: 980px) {
	#email {
		display: none;
	}
	div#search {
		display: none;
	}
	div#calendar {
		padding-bottom: 7px;
	}
	#login {
		padding-right: 3%;
	}
}
/*ADMIN PANEL: HELP PAGE*/
/*******************************************************/
a.list-group-item, button.list-group-item {
	color: #62A9DD;
}

span.HBtnBack:hover {
	color: #62A9DD;
}

EHInitialField {
	margin-bottom: 5px;
	margin-top: 10px;
}

.HTitle {
	color: black
}

.HInstructionBox {
	text-align: right;
	margin-top: -2px;
}

.HelpPage {
	padding: 15px
}
/*ADMIN PANEL: MAIN PAGE*/
/*******************************************************/
body {
	overflow-y: scroll;
}

ul.navLogoSerwis {
	list-style-type: none;
}

li.navInBloc {
	display: inline-block;
}

.buttonLink {
	color: rgb(89, 89, 89);
	background-color: rgba(91, 192, 222, 0);
	border-color: rgb(164, 164, 164);
}

.buttonLink:hover {
	background-color: rgba(221, 221, 221, 0.18);
	color: rgb(89, 89, 89);
}
/* ARCHIVE & PUBLICATIONS PANEL: PUBLICATIONS LIST*/
/*******************************************************/
tr.accent:hover {
	background-color: rgba(221, 221, 221, 0.18);
}

p.info {
	font-size: 14px;
	margin-left: 15px;
	font-weight: 400;
	line-height: 1.42857;
	margin-top: -2px
}

span.info {
	color: #C0C0CA;
}

table.list  {
	margin-left: 20px;
	width: 95%;
}

thead {
	color: #C0C0C0;
}
/*******************************************************/